/* Meme Canvas */

.canvas-container {
  background-color: #e3e3e3;
  min-height: 75vh;
}

#canvas {
  border: 2px solid black;
}

/* Meme Control */

.stickers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 33px;
  height: 100%;
}

.stickers-container .sticker {
  font-size: 2.7rem;
  cursor: pointer;
}

.meme-control {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(7, 60px);
}

.up-text {
  grid-column: 1/2;
  grid-row: 2/3;
}
.down-text {
  grid-column: 2/3;
  grid-row: 2/3;
}

.switch-lines {
  grid-column: 3/4;
  grid-row: 2/3;
}

.add-text {
  grid-column: 4/5;
  grid-row: 2/3;
}

.delete-text {
  grid-column: 5/6;
  grid-row: 2/3;
}

.increase-font {
  grid-column: 1 /2;
  grid-row: 3/4;
}

.decrease-font {
  grid-column: 2/3;
  grid-row: 3/4;
}

.align-text-left {
  grid-column: 3/4;
  grid-row: 3/4;
}
.align-text-center {
  grid-column: 4/5;
  grid-row: 3/4;
}
.align-text-right {
  grid-column: 5/6;
  grid-row: 3/4;
}

.control-txt {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  border: 0px solid white;
  border-radius: 0.8em;
  font-family: montserrat;
  font-size: 1.4rem;
}

.control-select {
  grid-column: 1/4;
  grid-row: 4/5;
  font-family: montserrat;
  font-size: 1.4rem;
  border: 0px solid white;
  border-radius: 0.8em;
}

.fill-color {
  grid-column: 4/5;
  grid-row: 4/5;
}

.font-stroke {
  grid-column: 5/6;
  grid-row: 4/5;
}

.stickers-container {
  grid-column: 1/6;
  grid-row: 5/6;
}

.control-btn {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
}
.control-btn:hover {
  cursor: pointer;
  border: 2px solid #ff7f00;
}

.control-btn img {
  width: 50%;
}

input[type='color'] {
  opacity: 0;
  display: block;
  text-align: center;
  cursor: pointer;
}

/* MOBILE ONLY */

@media (max-width: 700px) {
  .canvas-container {
    flex-direction: column;
    gap: 20px;
  }

  .meme-control {
    grid-gap: 10px 20px;
    padding-top: 30px;
  }

  .canvas-control {
    width: 310px;
    height: 310px;
    margin-top: 20px;
  }
}

@media (min-width: 700px) {
  .canvas-container {
    flex-direction: column;
    gap: 15px;
  }

  .canvas-control {
    width: 480px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .meme-control {
    margin-top: 30px;
    gap: 25px;
  }
}

/* LARGE - DESKTOP */

@media (min-width: 1250px) {
  .canvas-container {
    flex-direction: row;
    gap: 100px;
  }

  .canvas-control {
    width: 550px;
    height: 550px;
    margin-top: 0px;
  }

  .meme-control {
    margin-top: 140px;
  }
}
