* {
  box-sizing: border-box;
}
/* FONTS */

@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

/* HELPERS */

/* flex helpers */
.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

/* list helpers */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* BASIC */

body {
  margin: 0;
}

/* LAYOUT */

.main-layout {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  background-color: #ff7f00;
}

.main-header .main-nav .logo,
.footer-container .logo {
  width: 133px;
  margin-left: 50px;
}

.main-header .main-nav .logo:hover {
  cursor: pointer;
}

.main-header .main-nav ul li a {
  color: white;
  text-decoration: none;
}

.main-header .main-nav ul {
  margin-right: 60px;
  gap: 30px;
}

.main-header .main-nav ul > li {
  width: 75px;
  height: 60px;
  padding: 10px;
  font-size: 1.1875rem;
  font-family: montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;

  transition: box-shadow 0.3s;
}

.main-nav ul span {
  font-size: 1.187rem;
  color: #8a8a8a;
}

.main-header .main-nav ul > li:hover {
  box-shadow: inset 0px -6px 0 #040a2c;
  color: #040a2c;
}

.main-nav ul li.active {
  box-shadow: inset 0px -6px 0 #040a2c;
  color: #040a2c;
}

/* SEARCH */

.search-container {
  height: 100px;
  align-items: center;
}

.search-container input[type='text'] {
  height: 25px;
  margin-left: 50px;
  font-family: montserrat;
  font-size: 1.187rem;
  border: 0px solid white;
  box-shadow: 0 2px 0 rgb(214 211 211);
}

.search-container input[type='text']:focus {
  outline: none;
}

.search-container .most-common {
  margin-right: 60px;
  color: #040a2c;
  gap: 60px;
  font-size: 1.5rem;
}
.search-container .most-common:hover {
  cursor: pointer;
}

/* Gallery */

.meme-gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 280px));
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  padding: 30px 0px;
  background-color: #e3e3e3;
}

.meme-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.meme-gallery-container img:hover {
  cursor: pointer;
  box-shadow: 0 0 0 5px #ff7f00;
}

/* About */
.about-container {
  padding: 30px;
  gap: 50px;
  font-family: montserrat;
}

.about-container img {
  width: 225px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
}

/* Footer */

.footer-container {
  background-color: #ff7f00;
  flex-direction: column;
}

.footer-container .logo {
  margin: 50px 0;
}

.footer-container small {
  margin-bottom: 30px;
  color: #fff;
  font-family: montserrat;
}
